@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


.background-container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to right, #FEB692, #EA5455);
  animation: bg-animation 15s ease-in-out infinite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@keyframes bg-animation {
  0% {
    background: linear-gradient(to right, #eb631f, #f63737);
  }
  25% {
    background: linear-gradient(to right, #50cbff, #7d7d7d);
  }
  50% {
    background: linear-gradient(to right, #7926f7, #FFA07A);
  }
  75% {
    background: linear-gradient(to right, #202bf4, #40e612);
  }
  100% {
    background: linear-gradient(to right, #ea2222, #EA5455);
  }
}
